<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-modelize</h1>
        <p class="lead">An Ember CLI Addon that provides the ability to turn a Plain Old Javascript Object (POJO) into a series of nested model objects.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h3>{{#link-to "demo"}}<i class="fa fa-cubes fa-5x"></i>{{/link-to}}</h3>
        <p><a href="dist"><b>Demo</b></a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-modelize/blob/master/README.md"><i class="fa fa-book fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-modelize/blob/master/README.md"><b>Documentation</b></a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-modelize"><i class="fa fa-github fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-modelize"><b>Available on GitHub</b></a></p>
    </div>
</div>